.userMenuContainer {
    display: flex;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 3px;
    position: absolute;
    top: 101%;
    padding: 15px 13px 17px;
    border-radius: 3px 3px 7px 7px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    line-height: normal;
    z-index: 10;
}



.userMenuContainer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgb(67, 84, 179) transparent;
}

.userMenuContainerElement {
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.1s, box-shadow 0.3s;
    text-decoration: none;
}

.userMenuContainerElement:hover {
    cursor: pointer;
    background-color: rgb(53, 70, 165);
}