footer {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(34, 33, 33);
  padding: 2vmax;
}

.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vmax;
}



.leftFooter > h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leftFooter > p {
  margin-top: 1vmax;
  text-align: center;
  font-family: 'Lucida Sans', 'lucida Sans Regular', 'Lucida Sans',
    'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.leftFooter > div {
  display: flex;
  flex-direction: row;
}

.leftFooter > div > img {
  width: 30px;
  display: flex;
  padding: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;
  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: 'Roboto';
  color: #eb4034;
}

.midFooter > p {
  max-width: 60%;
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFooter > h4 {
  font-family: 'Roboto';
  font-size: 1.4vmax;
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 1vmax;
  margin-top: 1vmax;
}

.socialIcons > img {
  width: 20px;
  height: 15px;
  cursor: pointer;
}